<div [ngClass]="menuVisible ? 'darken-background-active' : 'darken-background-inactive'"
     (click)="closeSiteMenu()">
</div>

<nav class="menu-container"
  [ngClass]="menuClass">
  <ul class="nav-list">
    <li class="menu-logo-btn nav-item" (click)="handleHomeBtn()">
      <img
        src="assets/images/own-logo/rh-logo-06-green-small.png"
        class="logo-small"
        alt="logo and home button"
        role="presentation" />
    </li>
    <li class="nav-item" (click)="handleBlogBtn()">
      blog
    </li>
    <li class="nav-item" (click)="handleIoGardenBtn()">
      io-garden
    </li>
    <li class="nav-item" (click)="handleAboutBtn()">
      about
    </li>
    <li class="nav-item" (click)="handleSerchBtn()">
      search
    </li>
    <li class="nav-item" (click)="handleCloseBtn()">
      close
    </li>
  </ul>
</nav>
