<div class="blog-container">
  <h1>Blog</h1>

   <nav class="blog-post-nav-bar">
      <button
        type="button"
        class="btn-dark-flat"
        (click)="handleBackBtn()">
          back
      </button>
    </nav>

  <div class="blog-post-container">

   
    <article>
      <div class="blog-post-meta-info-container">
        <p class="meta-label">tags</p>
        <!-- <div class="blog-post-tag-container">
          <div
            class="blog-post-tag-item"
            *ngFor="let tagItem of currPostMetaData.tags">
              {{ tagItem }}
          </div>
        </div> -->
        <app-tag-list
          *ngIf="currPostMetaData.tags"
          [tags]="currPostMetaData.tags">
        </app-tag-list>

        <div class="published-updated-container">
          <table class="blog-post-meta-date-table">
            <tr>
              <td class="blog-post-meta-date-label">published:</td>
              <td class="blog-post-meta-date-value">{{ currPostMetaData.dateLastEdited }}</td>
            </tr>
            <tr>
              <td class="blog-post-meta-date-label">last updated:</td>
              <td class="blog-post-meta-date-value">{{ currPostMetaData.dateOriginal }}</td>
            </tr>
          </table>

        </div>
      </div>

      <h2 class="blog-post-title">{{ currPostMetaData.title }}</h2>

      <markdown
        [src]="currPath"
        class="blog-post-markdown">
      </markdown>
    </article>

  </div>

</div>