@import 'src/styles.scss';

.blog-container {
  padding: 0;
  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 20px 80px;
  }
  @media (min-width: 1200px) {
    padding: 20px calc((100% - 1005px) / 2);
  }
}

.blog-post-container {
  width: 100%;
  background-color: $white;
  padding: 25px 10px;
  border-radius: 10px;
}

.blog-post-nav-bar {
  width: 100%;
  // border-radius: 10px;
  // background-color: $subtle-three;
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 0 0 30px 0;
}

.blog-post-meta-info-container {
  border-bottom: 1px solid $subtle-three;
  padding: 0 0 30px 0;
  margin: 0 0 40px 0;
}

.meta-label {
  text-transform: uppercase;
  margin: 0;
}

/* .blog-post-tag-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.blog-post-tag-item {
  background-color: $brand;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 5px;
} */


.blog-post-meta-date-table {
  width: 100%;
  margin: 0;
  & .blog-post-meta-date-label {
    width: 90px;
    @media (min-width: 992) {
      width: 120px;
    }
  }
  & .blog-post-meta-date-value {
    width: auto;
    @media (min-width: 992) {
      width: auto;
    }
  }
}

.blog-post-title {
  color: $accent
}



