@import 'src/styles.scss';

.blog-post-nav-bar {
  width: 100%;
  // border-radius: 10px;
  // background-color: $subtle-three;
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 0 0 30px 0;
}

.blog-post-meta-info-container {
  border-bottom: 1px solid $subtle-three;
  padding: 0 0 30px 0;
  margin: 0 0 40px 0;
}

.meta-label {
  text-transform: uppercase;
  margin: 0;
}

.blog-post-tag-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.blog-post-tag-item {
  background-color: $brand;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 5px;
}

.published-updated-container {
  display: flex;
  flex-direction: column;
  & div {
    display: flex;
    flex-direction: row;
    & p {
      margin: 0 0 0 20px;
    }
  }
}
