@import 'src/styles.scss';

.io-garden-experiment {
  padding: 0;
}

.io-garden-experiment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  border-radius: 10px;
  margin: 0 0 20px 0;
}

.io-garden-container-nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 0;
}

.experiment-description-markdown {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 20px 10px;
  @media (min-width: $md) {
    padding: 20px 30px;
  }
}

h2 {
  align-self: flex-start;
  margin: 40px 0;
}

.sketch-container {
  width: 100%;
}
