.io-garden-experiment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.io-garden-container-nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 0 0 30px 0;
}

.experiment-description-markdown {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgb(199, 199, 199);
  padding: 20px 0 20px 0;
  margin: 20px 0 0 0;
}

h2 {
  align-self: flex-start;
}

.sketch-container {
  align-self: flex-start;
}
