<div class="io-garden-page-container">
  <section>
    <header class="io-garden-header">
      <h1>Io-Garden</h1>
      <h2>{{ ioWelcomeMain }}</h2>
    </header>

    <div class="io-garden-abstract-container">
      <div class="io-garden-abstract">
        <p class="paragraph-regular">
          {{ ioAbstract }}
        </p>
      </div>
    </div>
  </section>

  <details class="io-garden-detailed-explanation" #ioGardenDetails>
    <summary class="io-garden-tell-me-more-summary">tell me more.</summary>
    <p class="io-garden-explanation two-col-p-on-lg">
      {{ ioNameExplainer }}
    </p>
    <button type="button" 
            (click)="closeIoGardenDetailedExplanation()"
            class="close-io-garden-detailed-explanation-btn">
            <span class="close-triangle-character">&#9650;</span>
            <span>got it.</span>
    </button>
  </details>

  <section class="io-garden-bench">
    @for (experiment of ioExperimentDataArr; track experiment.id) {
      <div class="io-garden-experiment-card">
          <app-preview-card
            [metaData]="experiment"
            imgPosition="left"
            class="blog-posts-preview-card">
          </app-preview-card>
      </div>
    }
  </section>
</div>
