<section>
  <header class="io-garden-header">
    <h1>Io-Garden</h1>
    <h2>{{ ioWelcomeMain }}</h2>
    <h3>{{ ioWelcomeSub }}</h3>
  </header>

  <div class="io-garden-abstract-container">
    <p class="io-garden-abstract two-col-p-on-lg">{{ ioAbstract }}</p>
    <button mat-flat-button color="accent" (click)="toggleIoGardenExplanation()">read more</button>
  </div>
  <p class="io-garden-explanation two-col-p-on-lg" *ngIf="ioExplanationIsShown">{{ ioNameExplainer }}</p>
</section>
<section class="io-garden-bench">
  <app-io-garden-experiment-preview [experimentpreviewData]="ioExperimentDataArr[0]"></app-io-garden-experiment-preview>
</section>
