<div class="io-garden-page-container">
  <section>
    <header class="io-garden-header">
      <h1>Io-Garden</h1>
      <h2>{{ ioWelcomeMain }}</h2>
    </header>

    <div class="io-garden-abstract-container">
      <div class="io-garden-abstract-container-tint">

        <div class="io-garden-abstract">
          <p class="paragraph-regular">
            {{ ioAbstract }}
          </p>
          <button
          (click)="toggleIoGardenExplanation()"
          class="toggle-read-more-btn btn-primary-flat">
            <span *ngIf="!ioExplanationIsShown"
              class="material-icons">
              expand_more
            </span>
          </button>
        </div>       
      </div>
      
    </div>
  </section>

  <div class="io-garden-explanation-modal" *ngIf="ioExplanationIsShown">
    <div class="io-garden-explanation-modal-body">
      <button
      (click)="toggleIoGardenExplanation()"
      class="toggle-read-more-btn btn-primary-flat">
        <span class="material-icons">
          expand_less
        </span>
      </button>
      <p class="io-garden-explanation paragraph-regular">
        {{ ioNameExplainer }}
      </p>
    </div>
  </div>

  <section class="io-garden-bench">
    <div
      class="io-garden-experiment-card"
      *ngFor="let experiment of ioExperimentDataArr">
        <app-io-garden-experiment-preview
          [metaData]="experiment"
          [imgPosition]="'left'">
        </app-io-garden-experiment-preview>
    </div>
  </section>
</div>
