@import '/src/styles.scss';

.io-garden-page-container {
  padding: 0;
}

.io-garden-header {
  width: 100%;
  white-space: pre-line;
  @media (max-width: 992px) {
    white-space: normal;
  }
}

.io-garden-abstract-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
  border-radius: 10px;
}

.io-garden-abstract {
  width: 100%;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.io-garden-explanation {
  width: 100%;
  white-space: pre-line;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.toggle-read-more-btn {
  align-self: flex-end;
}

.io-garden-bench {
  width: 100%;
  padding: 25px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
  @media (min-width: 992px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.io-garden-experiment-card {
  width: 100%;
  height: 150px;
  @media (min-width: 992px) {
    width: 48%;
    height: 300px;
  }
}

