@import '/src/styles.scss';


.save-sketch-btn,
.grow-btn,
.reload-btn {
  // margin: 10px 0 0 10px;
  min-width: 100px;
  &:disabled {
    cursor: default;
    color: $mid-gray;
    background-color: $light-gray;
  }
}

.le-a003-sketch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mid-gray;
  #le-a003-sketch-wrapper {
      display: flex;
      align-items: center;
  }
}

.buttons-and-counter-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  .buttons-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 10px
  }
  .generation-counter-wrapper p {
    color: $subtle-one;
  }
}

.growing-disabled-msg {
  /* position: relative;
  top: -90%;
  z-index: 10; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  /* @media (min-width: 786px) {
    top: -200px;
  } */
  p {
    text-align: center;
    color: $mid-gray;
    // background-color: rgba(232, 72, 85, 0.7);
    border: 2px solid $danger;
    background-color: $light-gray;
    width: 80%; 
    padding: 10px;
    border-radius: 10px;
    .hide-no-grow-warning-btn {
      margin: 10px 0 0 0;
    }
  }
}

