<header [ngClass]="smallLogoIsVisible ? 'header-background' : ''">
  <button 
    class="menu-logo-btn"
    type="button"
    (click)="handleLogoClick()"
    [ngClass]="smallLogoIsVisible ? 'visible' : 'invisible'"
  >
    <img
      src="assets/images/own-logo/rh-logo-06-green-small.png"
      class="logo-small"
      alt="logo and home button"
      role="presentation"
      aria-hidden="true" 
      focusable="false"/>
    <span class="visually-hidden">home</span>
  </button>


  <button
    (click)="openSiteMenu()"
    class="menu-burger-btn"
    type="button">
      <img src="assets/fonts/icons/menu_wght500_30_green.svg"
        aria-hidden="true" 
        focusable="false" 
        class="menu-icon"
        alt=""/>
      <span class="visually-hidden">menu</span>
  </button>

  <button
    (click)="handleBackButtonClick()"
    class="back-btn"
    [ngClass]="backBtnIsVisible ? 'visible' : 'invisible'"
    type="button">
      <img src="assets/fonts/icons/arrow_back_wght400_24_green.svg"
        aria-hidden="true" 
        focusable="false" 
        class="menu-icon"
        alt=""/>
      <span class="visually-hidden">menu</span>
  </button>
</header>