.example-card {
  max-width: 400px;
  border: 1px solid deeppink
}

.example-header-image {
  background-image: url('./../../../../assets/images/io-garden-phase-icons/seedling.png');
  background-size: cover;
}
