<div class="focus-view" *ngIf="currMode === 'FOCUS'">
  <div class="mae-a001-sketch-container">
      <div id="mae-a001-sketch-wrapper" ></div>
  </div>

  <button
    type="button"
    (click)="session.timerIsRunning ? stopSession() : startSession()"
    class="btn-accent-flat start-session-btn">
      {{ session.timerIsRunning ? 'stop' : 'start'}} 
  </button>

  <div>
    <p class="remaining-time-display"> 
      {{ displayTimer }}
    </p>
  </div>


  <div class="timer-inputs-and-labels" *ngIf="!session.timerIsRunning">
    <div>
      <label for="hours">Hours</label>
      <input 
        name="hours" 
        type="number" 
        [(ngModel)]="session.timer.hours" 
        (ngModelChange)="generateDisplayTimerStr()">
    </div>
    
    <div>
      <label for="minutes">Minutes</label>
      <input 
        name="minutes" 
        type="number" 
        [(ngModel)]="session.timer.minutes"
        (ngModelChange)="generateDisplayTimerStr()">
    </div>

    <div>
      <label for="seconds">Seconds</label>
      <input 
        name="seconds" 
        type="number" 
        [(ngModel)]="session.timer.seconds"
        (ngModelChange)="generateDisplayTimerStr()">
    </div>
    
  </div>
</div>


<div class="settings-view" *ngIf="currMode === 'SETTINGS'">
  <div class="inputs">
    <div class="name-input-and-label">
      <label for="name">Name</label>
      <input 
        name="name" 
        type="text"
        [(ngModel)]="profile.name"
        placeholder="How should I call you?">
    </div>

    <button
      type="button"
      (click)="resetProgress()"
      class="btn-accent-flat start-session-btn">
      reset progress
    </button>

    <button
      type="button"
      (click)="goIntoFocusMode()"
      class="btn-accent-flat focus-mode-btn">
      focus mode
    </button>
    
  </div>
</div>

<div class="home-view" *ngIf="currMode === 'HOME'">
  <div class="welcome">
    <h3>Welcome back {{ profile.name }}!</h3>
  </div>
  <div class="statistics">

  </div>

  <button
    type="button"
    (click)="goIntoFocusMode()"
    class="btn-accent-flat focus-mode-btn">
    <span class="material-icons">
      self_improvement
    </span>  
  </button>

  <button
    type="button"
    (click)="goIntoSettingsMode()"
    class="btn-light-gray-flat settings-mode-btn">
    <span class="material-icons">
      settings
    </span>      
  </button>
</div>




<!-- <button
  type="button"
  (click)="reload()"
  class="btn-accent-flat reload-btn">
    reload
</button> -->




