<app-modal *ngIf="resetWarningDialogIsOpen" (modalCloseEvent)="closeResetWarningDialog()">
  <div class="reset-warning-dialog">

    <h3>attention!</h3>
    <p>You are about to reset your progress. 
      This will delete all your previous focus session data. 
      You can not get it back once you click the reset button below.
    </p>
    
    <div class="reset-warning-dialog-btn-container">
      <button
        type="button"
        (click)="resetProgress()"
        class="btn-danger-flat reset-progress-btn">
        reset progress
      </button>

      <button
        type="button"
        (click)="closeResetWarningDialog()"
        class="btn-light-gray-flat cancel-reset-btn">
        cancel
      </button>

    </div>
  </div>
</app-modal>

<div class="home-view" *ngIf="currMode === 'HOME'">
  <div class="statistics" id="statisticsContainer"></div>

  <div class="welcome" *ngIf="profile.name">
    <h3>Welcome back {{ profile.name }}!</h3>
  </div>

  <ng-container *ngTemplateOutlet="maeModeNav"></ng-container>
</div>


<div class="focus-view" *ngIf="currMode === 'FOCUS'">
  <div class="mae-a001-sketch-container">
      <div id="mae-a001-sketch-wrapper" ></div>
  </div>

  <button
    type="button"
    (click)="session.timerIsRunning ? stopSession() : startSession()"
    class="btn-accent-flat start-session-btn">
      {{ session.timerIsRunning ? 'stop' : 'start'}} 
  </button>

  <div>
    <p class="remaining-time-display"> 
      {{ displayTimer }}
    </p>
  </div>

  <div class="timer-inputs-and-labels" *ngIf="!session.timerIsRunning">
    <div>
      <label for="hours">Hours</label>
      <input 
        name="hours" 
        type="number"
        min="0"
        [(ngModel)]="session.timer.hours" 
        (ngModelChange)="handleModelChangeOnHours()">
    </div>
    
    <div>
      <label for="minutes">Minutes</label>
      <input 
        name="minutes" 
        type="number" 
        min="0"
        [(ngModel)]="session.timer.minutes"
        (ngModelChange)="handleModelChangeOnMinutes()">
    </div>

    <div>
      <label for="seconds">Seconds</label>
      <input 
        name="seconds" 
        type="number"
        min="0"
        [(ngModel)]="session.timer.seconds"
        (ngModelChange)="handleModelChangeOnSeconds()">
    </div>
    
  </div>
  <ng-container *ngTemplateOutlet="maeModeNav"></ng-container>
</div>


<div class="settings-view" *ngIf="currMode === 'SETTINGS'">

  <div class="settings-main">

    <div class="welcome">
      <h3>Hey<span *ngIf="profile.name"> {{ profile.name }}</span>!</h3>
    </div>
  
    <div class="explainer">
      <p *ngIf="profile.name; else enterYourNamePrompt">You can change your name below<br><br></p>
      <ng-template #enterYourNamePrompt>
        <p>To make your experience more personal, you can enter your name or nickname.<br><br></p>
      </ng-template>
      <p>
        None of the information recorded in this program leaves your computer.
        Everything is stored locally in your browser.
      </p>
    </div>
  
  
    <div class="name-input-and-label">
      <label for="name">Name</label>
      <input 
        name="name" 
        type="text"
        [(ngModel)]="profile.name"
        placeholder="How should I call you?">
    </div>
  
    <div class="reset-btn-wrapper">
      <button
        type="button"
        (click)="openResetWarningDialog()"
        class="btn-dark-flat reset-progress-btn">
        reset progress
      </button>
    </div>
    
  </div>

  <ng-container *ngTemplateOutlet="maeModeNav"></ng-container>
</div>



<!-- BUTTONS THAT ARE SHARED BETWEEN VIEWS AS "NAV-BAR" TEMPLATE -->
<ng-template #maeModeNav>
  <div class="mae-a001-mode-nav">

    <div class="home-mode-btn-container" >
      <button 
        *ngIf="currMode !== 'HOME'"
        type="button"
        (click)="goIntoHomeMode()"
        class="btn-light-gray-flat home-mode-btn">
        <span class="material-icons">
          home
        </span>      
      </button>
    </div>

    <div class="focus-mode-btn-container">
      <button
        *ngIf="currMode !== 'FOCUS'"
        type="button"
        (click)="goIntoFocusMode()"
        class="btn-accent-flat focus-mode-btn">
        <span class="material-icons">
          self_improvement
        </span>  
      </button>
    </div>

    <div class="settings-mode-btn-container">
      <button
        *ngIf="currMode !== 'SETTINGS'"
        type="button"
        (click)="goIntoSettingsMode()"
        class="btn-light-gray-flat settings-mode-btn">
        <span class="material-icons">
          settings
        </span>      
      </button>
    </div>

  </div>
</ng-template>

<ng-template #resetWarningDialog>
  <div class="reset-warning-dialog-wrapper" *ngIf="resetWarningDialogIsOpen">
    <div class="reset-warning-dialog">

      <h3>attention!</h3>
      <p>You are about to reset your progress. 
        This will delete all your previous focus session data. 
        You can not get it back once you click the reset button below.
      </p>
      
      <div class="reset-warning-dialog-btn-container">
        <button
          type="button"
          (click)="resetProgress()"
          class="btn-accent-flat reset-progress-btn">
          reset progress
        </button>

        <button
          type="button"
          (click)="closeResetWarningDialog()"
          class="btn-accent-flat cancel-reset-btn">
          cancel
        </button>

      </div>
    </div>
  </div>
</ng-template>