<div class="focus-view" *ngIf="currMode === 'FOCUS'">
  <div class="mae-a001-sketch-container">
      <div id="mae-a001-sketch-wrapper" ></div>
  </div>

  <button
    type="button"
    (click)="session.timerIsRunning ? stopSession() : startSession()"
    class="btn-accent-flat start-session-btn">
      {{ session.timerIsRunning ? 'stop' : 'start'}} 
  </button>

  <div>
    <p class="remaining-time-display"> 
      {{ displayTimer }}
    </p>
  </div>


  <div class="timer-inputs-and-labels" *ngIf="!session.timerIsRunning">
    <div>
      <label for="hours">Hours</label>
      <input 
        name="hours" 
        type="number"
        min="0"
        [(ngModel)]="session.timer.hours" 
        (ngModelChange)="handleModelChangeOnHours()">
    </div>
    
    <div>
      <label for="minutes">Minutes</label>
      <input 
        name="minutes" 
        type="number" 
        min="0"
        [(ngModel)]="session.timer.minutes"
        (ngModelChange)="handleModelChangeOnMinutes()">
    </div>

    <div>
      <label for="seconds">Seconds</label>
      <input 
        name="seconds" 
        type="number"
        min="0"
        [(ngModel)]="session.timer.seconds"
        (ngModelChange)="handleModelChangeOnSeconds()">
    </div>
    
  </div>
  <ng-container *ngTemplateOutlet="maeModeNav"></ng-container>
</div>


<div class="settings-view" *ngIf="currMode === 'SETTINGS'">
  <div class="inputs">
    <div class="name-input-and-label">
      <label for="name">Name</label>
      <input 
        name="name" 
        type="text"
        [(ngModel)]="profile.name"
        placeholder="How should I call you?">
    </div>

    <button
      type="button"
      (click)="resetProgress()"
      class="btn-accent-flat start-session-btn">
      reset progress
    </button>
  </div>

  <ng-container *ngTemplateOutlet="maeModeNav"></ng-container>
</div>

<div class="home-view" *ngIf="currMode === 'HOME'">
  
  <div class="statistics" id="statisticsContainer"></div>

  <div class="welcome" *ngIf="profile.name">
    <h3>Welcome back {{ profile.name }}!</h3>
  </div>

  <ng-container *ngTemplateOutlet="maeModeNav"></ng-container>

</div>


<!-- BUTTONS THAT ARE SHARED BETWEEN VIEWS AS "NAV-BAR" TEMPLATE -->
<ng-template #maeModeNav>
  <div class="mae-a001-mode-nav">

    <div class="home-mode-btn-container" >
      <button 
        *ngIf="currMode !== 'HOME'"
        type="button"
        (click)="goIntoHomeMode()"
        class="btn-light-gray-flat home-mode-btn">
        <span class="material-icons">
          home
        </span>      
      </button>
    </div>

    <div class="focus-mode-btn-container">
      <button
        *ngIf="currMode !== 'FOCUS'"
        type="button"
        (click)="goIntoFocusMode()"
        class="btn-accent-flat focus-mode-btn">
        <span class="material-icons">
          self_improvement
        </span>  
      </button>
    </div>

    <div class="settings-mode-btn-container">
      <button
        *ngIf="currMode !== 'SETTINGS'"
        type="button"
        (click)="goIntoSettingsMode()"
        class="btn-light-gray-flat settings-mode-btn">
        <span class="material-icons">
          settings
        </span>      
      </button>
    </div>

  </div>
</ng-template>


<!-- <button
  type="button"
  (click)="reload()"
  class="btn-accent-flat reload-btn">
    reload
</button> -->




