@import '/src/styles.scss';

:root {
  --tag-result-container-height: 202px;
}

.tag-result-container-open {
  width: calc(100% + 4px);
  transition: width 0.5s ease-in-out, height 0.3s ease-in-out;;
  border-radius: 10px;

  .tag-result-inner-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 10px;
    
    .tag-selection-result-wrapper {
      width: calc(100% - 4px);
      height: 200px;
      
      @media (min-width: 992px) {
        width: calc(50% - 7px);
        height: 230px;
      }
    }
  }
}

.tag-result-container-closed {
  width: 0;
  height: 0;
  transition: width 0.5s ease-in-out, height 0.2s ease-in-out;;
}