<section class="about-section">
  <div class="about-headings-and-text">
    <h1>About</h1>
    <h2>Raphael Hemme</h2>

    <h3>Developer,<br /> Cultural Anthropologist,<br /> Generative Design & Art Nerd</h3>
    <p>Constantly trying to integrate relational anthropological theory and knowledge with coding
      practice and computational concepts. Sometimes struggling with minor merge conflicts.</p>

    <p>{{ aboutP1 }}</p>

    <div class="social-media-container">
      <p>Drop me a line on social media</p>
      <div class="social-media-link-wrapper">
        <a href="https://linkedin.com/in/raphael-hemme" target="_blank" rel="external">
          <img src="assets/images/social-icons/LI-In-Bug.png" alt="LinkedIn Logo"/>
        </a>
        <a href="https://twitter.com/hemme_r" target="_blank" rel="external">
          <img src="assets/images/social-icons/Twitter social icons - rounded square - blue.png" alt="Twitter Logo"/>
        </a>
      </div>

    </div>

  </div>
  <div class="about-image">
    <div class="profile-picture-outline">
      <img
      src="../../../../assets/images/photos/profile-photo-01-medium-tint.jpg"
      alt="Portrait"
      class="prifile-picture"/>
      <!-- <app-profile-photo-sketch class="profile-photo-sketch"></app-profile-photo-sketch> -->
    </div>
  </div>
</section>
