* {
  color: rgb(42, 42, 42);
}

.about-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.about-henings-and-text {
  width: 66%;
}

.about-image {
  width: 44%;
  display: flex;
  justify-content: flex-end;
}

.prifile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
