<section class="about-section">
  <div class="about-headings-container">
    <h1>About</h1>
    <h2>Raphael Hemme</h2>

    <h3>
      <span (mouseenter)="toggleDevHighlight()" (mouseleave)="toggleDevHighlight()">
        Developer &
      </span>
      <span (mouseenter)="toggleAnthropologyHighlight()" (mouseleave)="toggleAnthropologyHighlight()">
        Anthropologist
      </span>
    </h3>

  </div>

  <div class="short-about-container">
    <p>I'm a <span class="paragraph-anthropology-span"
        [ngClass]="anthropologyIsHighlighted ? 'highlighted-span' : ''">social and cultural anthropologist</span> turned
      <span class="paragraph-dev-span" [ngClass]="devIsHighlighted ? 'highlighted-span' : ''">web developer</span>
      focusing on frontend matters and data visualization.
    </p>
    <p>When day turns night and the streets are getting crowded with super heroes, super villains and party people, I'm
      probably sitting in front of my screen
      trying to integrate anthropological theory with coding practice and computational concepts or coding concepts with
      anthropological practices. <br />
      Sometimes struggling with minor merge conflicts.
    </p>

    <!-- <button
      (click)="toggleLongAboutIsShown()"
      class="toggle-long-about-btn btn-primary-flat">
        <span *ngIf="!longAboutIsShown"
          class="material-icons">
          expand_more
        </span>
        <span *ngIf="longAboutIsShown"
          class="material-icons">
          expand_less
        </span>
    </button> -->
  </div>
  <!--   <div class="long-about-paragraphs">
    <p>{{ aboutP1 }}</p>
    <p>{{ aboutP2 }}</p>
    <p>{{ aboutP3 }}</p>
    <p>{{ aboutP4 }}</p>
  </div> -->

  <div class="other-interests">
    <h4>Also interested in: </h4>
    <ul class="tag-container">
      <li class="tag-item">creative coding & generative art</li>
      <li class="tag-item">functional & reactive programming</li>
      <li class="tag-item">cybernetics & complexity</li>
      <li class="tag-item">logo & type design</li>
      <li class="tag-item">mechanical & EC keyboards</li>
      <!--       <li class="tag-item">
        <input placeholder="your suggestion" type="text"/>
        <button type="button"></button>
      </li> -->
    </ul>
  </div>


  <div class="social-media-container">
    <p>Drop me a line on social media</p>
    <div class="social-media-link-wrapper">
      <div class="icon-white-bg"></div>
      <a href="https://linkedin.com/in/raphael-hemme" target="_blank" rel="external">
        <img src="assets/images/social-icons/LI-In-Bug.png" alt="LinkedIn Logo" />
      </a>
      <a href="https://twitter.com/raphael_hemme" target="_blank" rel="external">
        <img src="assets/images/social-icons/Twitter social icons - rounded square - blue.png" alt="Twitter Logo" />
      </a>
      <a href="https://github.com/Raphael-Hemme" target="_blank" rel="external">
        <img src="assets/images/social-icons/GitHub-Mark-Light-120px-plus.png" alt="Github Logo - inverted octocat" />
      </a>
    </div>
  </div>


  <div class="about-image">
    <div class="profile-picture-outline">
      <img src="../../../../assets/images/photos/profile-photo-20220410.jpg" alt="Portrait" class="prifile-picture" />
    </div>
  </div>

  <div class="tech-stack">
    <h3>Tech Stack</h3>

    <h4>In Focus</h4>
    <p>Technologies I currently focus on:</p>
    <ul class="tag-container">
      <li class="tag-item">TypeScript</li>
      <li class="tag-item">JavaScript</li>
      <li class="tag-item">Angular</li>
      <li class="tag-item">RxJS</li>
      <li class="tag-item">P5</li>
      <li class="tag-item">HTML</li>
      <li class="tag-item">CSS / SCSS</li>
      <li class="tag-item">GraphQL</li>
    </ul>

    <h4>Preview</h4>
    <p>Languages, frameworks and libraries I want to learn and use in upcoming projects:</p>
    <ul class="tag-container">
      <li class="tag-item">D3</li>
      <li class="tag-item">Qwik</li>
      <li class="tag-item">Tauri</li>
      <li class="tag-item">Deno</li>
      <li class="tag-item">Fresh</li>
      <li class="tag-item">Rust</li>
    </ul>

    <h4>Peripheral Use</h4>
    <p>Technologies I used before and am considering getting back into at some point:</p>
    <ul class="tag-container">
      <li class="tag-item">React</li>
      <li class="tag-item">Vue</li>
      <li class="tag-item">Node</li>
      <li class="tag-item">Express</li>
      <li class="tag-item">MongoDB</li>
      <li class="tag-item">PostgreSQL</li>
    </ul>

  </div>
</section>