<section class="about-section">
  <div class="about-headings-and-text">
    <h1>About: <br /> Raphael Hemme</h1>

    <h2>Developer,<br /> Cultural Anthropologist,<br /> Generative Design & Art Nerd</h2>
    <p>Constantly trying to integrate relational anthropological theory and knowledge with coding
      practice and computational concepts. Sometimes struggling with minor merge conflicts.</p>

    <p>{{ aboutP1 }}</p>
  </div>
  <div class="about-image">
    <div class="profile-picture-outline">
      <img
      src="../../../../assets/images/photos/profile-photo-01-medium-tint.jpg"
      alt="Portrait"
      class="prifile-picture"/>
      <!-- <app-profile-photo-sketch class="profile-photo-sketch"></app-profile-photo-sketch> -->
    </div>
  </div>
</section>
