<div 
  class="preview-card" 
  [ngClass]="previewOrintationClass"
  (click)="handlePreviewClick(metaData.id)">
  <div class="preview-card-image-container">
    <img
      [src]="metaData.previewImageUrl"
      alt="procedurally generated preview artwork for blog post"
      class="preview-card-img">
  </div>
  <div class="preview-card-meta-container">
    <div class="preview-card-date">
      @if (metaData.dateOriginal) {
        <div class="preview-card-original-date">
          <p class="preview-card-date-label">date:</p>
          <p>{{ metaData.dateOriginal }}</p>
        </div>
      }

      @if (metaData.dateLastEdited) {
        <div class="preview-card-updated-date">
          <p class="preview-card-date-label">updated:</p>
          <p>{{ metaData.dateLastEdited }}</p>
        </div>
      }
    </div>

    <div class="preview-card-phase-indicator-container">
      @for (phaseIcon of phaseIteratorArr; track phaseIcon) {
        <div class="preview-card-phase-indicator">
        </div>
      }
    </div>
  </div>
  <div class="preview-card-title">
    @if (metaData.title) {
      <h4>{{ metaData.title }} </h4>
    }
  </div>
</div>

