<div style="height: 100vh;">
  <header>
    <div class="menu-dark">
      <nav class="menu-container">

        <div class="menu-logo-container">

          <div class="logo-bg"></div>

          <img
            [routerLink]="['/']"
            src="../assets/images/own-logo/RH-Logo-05-negative-small-night.png"
            class="logo-negative-small"
            alt="logo"
            role="presentation"/>
        </div>

        <ul class="topnav-items-container">
          <li><a [routerLink]="['/io-garden']" class="nav-item-dark">I/O-GARDEN</a></li>
          <li><a [routerLink]="['/blog']" class="nav-item-dark">BLOG</a></li>
          <li><a [routerLink]="['/about']" class="nav-item-dark">ABOUT</a></li>
        </ul>

        <button
          (click)="toggleSidenavVisibility()"
          class="menu-burger">
            <span class="material-icons">
            menu
            </span>
        </button>
    </nav>
  </div>
  </header>


  <div class="sidenav-container" *ngIf="sidenavIsVisible">
    <div class="sidenav-dark">
      <nav class="sidenav">
        <ul class="sidenav-items-container">
          <li><a (click)="toggleSidenavVisibility()" class="nav-item-dark" mat-list-item>Close</a></li>
          <li><a [routerLink]="['/blog']" class="nav-item-dark" >BLOG</a></li>
          <li><a [routerLink]="['/io-garden']" class="nav-item-dark">I/O-GARDEN</a></li>
          <li><a [routerLink]="['/about']" class="nav-item-dark">ABOUT</a></li>
        </ul>
      </nav>
    </div>
    <div class="background-blur" (click)="toggleSidenavVisibility()"></div>
  </div>

  <div class="sidenav-content-container">
    <main class="main-content-container" #mainContentContainer>
      <router-outlet></router-outlet>
    </main>
  </div>

</div>

<app-splash-screen class="splash-screen" *ngIf="splashScreenStatus === 'on'"></app-splash-screen>
