@import '/src/assets/stylesheets/colors.scss';
// ----- top menu

.menu {
  height: 52px;
  width: 100%;
  @media (min-width: 720px) {
    height: 60px;
    width: 100%;
  }
}

.menu,
.sidenav {
  background-color: $subtle-one;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2px 20px;
}

.topnav-items-container {
  display: none;
  @media (min-width: 720px) {
    display: flex;
    ul, li {
      list-style-type: none;
    }
    a {
      text-decoration: none;
    }
  }
}

.menu-burger {
  background-color: $subtle-one;
  border: none;
  .material-icons {
    color: $light;
    font-size: 2rem;
  }
  @media (min-width: 720px) {
    display: none;
  }
}

.nav-item {
  color: $light;
  background-color: $subtle-one;
}

.nav-item:hover {
  color: $brand;
  margin: 0 0 5px 0;
}

// ----- Logo

.menu-logo-container {
  height: 100%;
}

.logo-negative-small {
  cursor: pointer;
  height: 48px;
  border-radius: 10px;
  @media (min-width: 720px) {
    height: 56px;
  }
}

// ----- Sidenav

.sidenav-container {
  height: calc(100% - 52px);
  width: 100%;
  position: absolute;
  top: 52px;
  z-index: 200;
  display: flex;
}

.sidenav-dark {
  width: 50%;
  height: 100%;
}

.background-blur {
  min-width: 50%;
  height: 100%;
  background-color: rgba(49, 49, 49, 0.507);
}

.sidenav-items-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  li {
    list-style-type: none;
    margin: 10px 0 0 20px;
  }
  a {
    text-decoration: none;
  }
}

.sidenav-content-container {
  height: calc(100% - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  @media (min-width: 720px) {
    height: calc(100% - 60px);
  }
}

.main-content-container {
  min-height: calc(100% - 52px);
  width: 100%;
  padding: 20px 10px;
  @media (min-width: 992px) {
    width: 66%;
    padding: 25px 0;
  }
}

.splash-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: 10;
}
