@import 'src/styles.scss';

header {
  position: fixed;
  z-index: 100;
  top: 25px;
  right: 25px;
  width: 48px;
  height: 96px;
  background-color: rgba(63, 162, 164, 0.9);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 576px) {
    top: 10px;
    right: 10px;
  }
}

.menu-burger {
  height: 38px;
  width: 38px;
  background-color: transparent;
  border: 0.7px solid $brand;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .menu-icon {
    width: 30px;
  }
}


// ----- Logo

.menu-logo-btn {
  border: none;
  background-color: transparent;
}

.logo-small {
  cursor: pointer;
  height: 40px;
  border-radius: 10px;
}

.main-content-container {
  width: 100%;
  height: 100%;
  padding: $main-content-vertical-padding-sm-down $main-content-horizontal-padding-sm-down;
  @media (min-width: $sm) {
    padding: $main-content-vertical-padding-sm-up $main-content-horizontal-padding-sm-up;
  }
}

/* .loading-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 110;
  background-color: $subtle-two;
  
  .loading-spinner {
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 100px); 
    border: 3px solid $subtle-three; 
    border-top: 4px solid $brand;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 0.7s linear infinite;
    z-index: 21;

    @media (min-width: 500px) and (max-width: 635px) {
      top: calc(50% - 150px);
      left: calc(50% - 150px); 
      width: 300px;
      height: 300px;
    }
    @media (min-width: 635px) {
      top: calc(50% - 225px);
      left: calc(50% - 225px); 
      width: 450px;
      height: 450px;
      border-top: 5px solid $brand;
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

.no-scroll {
  overflow: hidden;
  max-height: 100vh;
}