<div style="height: 100vh;">
  <header>
    <div class="menu-dark">
      <nav class="menu-container">

        <div class="menu-logo-container">

          <div class="logo-bg"></div>

          <img
            [routerLink]="['/']"
            src="../assets/images/own-logo/RH-Logo-05-negative-small-night.png"
            class="logo-negative-small"
            alt="logo"
            role="presentation"/>
        </div>

        <!-- <span class="header-name">Raphael Hemme</span>-->
        <!-- <span class="menu-spacer"></span> -->
        <ul class="top-nav-items-container">
          <li><a [routerLink]="['/io-garden']" class="nav-item-dark">I/O-GARDEN</a></li>
          <li><a [routerLink]="['/blog']" class="nav-item-dark">BLOG</a></li>
          <li><a [routerLink]="['/about']" class="nav-item-dark">ABOUT</a></li>
        </ul>

        <!-- <button
        mat-icon-button
        (click)="sidenav.toggle()"
        class="menu-burger"
      >
        <mat-icon>menu</mat-icon>
      </button> -->
    </nav>
  </div>
  </header>


  <div class="sidenav-container">
    <div class="sidenav-dark">
      <nav>
        <ul>
          <!-- <a (click)="sidenav.toggle()" class="nav-item-dark" mat-list-item>Close</a> -->
          <li><a [routerLink]="['/blog']" class="nav-item-dark" >BLOG</a></li>
          <li><a [routerLink]="['/io-garden']" class="nav-item-dark">I/O-GARDEN</a></li>
          <li><a [routerLink]="['/about']" class="nav-item-dark">ABOUT</a></li>
        </ul>
      </nav>
    </div>
    <div class="sidenav-content-container">
      <main class="main-content-container" #mainContentContainer>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>

<app-splash-screen class="splash-screen" *ngIf="splashScreenStatus === 'on'"></app-splash-screen>
