@import 'src/styles.scss';

.main-content-container {
  width: 100%;
  height: 100%;
  padding: $main-content-vertical-padding-sm-down $main-content-horizontal-padding-sm-down;
  @media (min-width: $sm) {
    padding: $main-content-vertical-padding-sm-up $main-content-horizontal-padding-sm-up;
  }
}

.no-scroll {
  overflow: hidden;
  max-height: 100vh;
}