<app-horizontal-glitch-sketch></app-horizontal-glitch-sketch>

<div class="home-page-container" *ngIf="delayToLoadIsOver">
  <h1>Raphael<br /> Hemme</h1>
  <h2>Developer && <br />Anthropologist</h2>

  <section class="featured-section">
    <div class="featured-section-text">
      <h3>Interested in a randomly picked blog post or experiment?</h3>
      <p>
        Let chance decide what you might read. 🔮🤖<br />
      </p>
      <p>
        Curious? Use the button below to get a new random selection or go to
        <a [routerLink]="['/io-garden']">io-garden</a> or <a [routerLink]="['/blog']">blog</a>
        for a list of all available posts and experiments.
      </p>
      <button
        class="btn-accent-flat refresh-btn"
        (click)="handleRefreshFeaturedBtn()">
        <!-- <span 
          class="material-icons" 
          aria-hidden="true" 
          focusable="false">
          refresh
          </span>
          <span class="visually-hidden">refresh</span> -->
          reload
      </button>
    </div>

    <div class="featured-container" *ngIf="featuredIoGardenExperiment && featuredBlogPost">
      <div class="featured-io-garden-experiment">
<!--         <app-io-garden-experiment-preview
          [metaData]="featuredIoGardenExperiment"
          [imgPosition]="'top'"
          class="io-garden-experiment-card">
        </app-io-garden-experiment-preview> -->
        <app-preview-card
          [metaData]="featuredIoGardenExperiment"
          [imgPosition]="'top'"
          class="blog-posts-preview-card">
        </app-preview-card>
      </div>
      <div class="featured-blog-post">
        <app-preview-card
          [metaData]="featuredBlogPost"
          [imgPosition]="'top'"
          class="blog-posts-preview-card">
        </app-preview-card>
      </div>
    </div>
  </section>

  <section class="tag-selection-section">
    <div class="tag-selection-heading-and-tags">
      <h3>Select a topic of interest</h3>
      <ul class="tag-container">
        <li
          class="tag-item"
          [ngClass]="tagItem.name === currNameSelectedTag? 'tag-selected' : ''"
          *ngFor="let tagItem of unifiedAndCountedTagsArr"
          (click)="handleTagSelection(tagItem.name)">
            {{ tagItem.name }} | {{tagItem.count}}
        </li>
      </ul>
    </div>


    <div class="tag-result-outer-container" #tagResultOuterContainer>
      <div
        class="tag-result-inner-container"
        *ngIf="blogPostsAndExperimentsSelectedByTag">
        <div
          class="tag-selection-result-wrapper"
          *ngFor="let result of blogPostsAndExperimentsSelectedByTag">
            <app-preview-card
              [metaData]="result"
              [imgPosition]="'left'"
              class="blog-posts-preview-card">
            </app-preview-card>
        </div>
      </div>
      <p class="pre-selection-msg" *ngIf="!blogPostsAndExperimentsSelectedByTag">
        Select a tag to display related blog posts and experiments.
      </p>
    </div>
    
  </section>

</div>

