.home-page-container {
  padding: 0;
  @media (min-width: 576px) {
    padding: 20px 80px;
  }
}

.featured-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (min-width: 720px) {
    height: 400px;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
}

.featured-io-garden-experiment,
.featured-blog-post {
  width: 100%;
  height: 320px;
  @media (min-width: 992px) {
    min-width: 48%;
    height: 300px;
  }
}

h2 {
  @media (min-width: 720px) {
    br {
      display: none;
    }
  }
}


/* .blog-posts-preview-card,
.io-garden-experiment-card {
  width: 100%;
  height: 200px;
  @media (min-width: 992px) {
    min-width: 48%;
    height: 200px;
  }
} */
