@import '/src/styles.scss';

.blog-post-preview-card {
  border-radius: 10px;
  overflow: hidden;
  background-color: $white;
}

.image-left-blog-post-preview-card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60px 0.5fr 4fr 3fr;
  grid-template-rows: 1fr 4fr 2fr;
  grid-template-areas:
    "preview-img . preview-title    preview-meta"
    "preview-img . preview-title    preview-meta"
    "preview-img . preview-subtitle preview-actions";
  @media (min-width: 992px) {
    grid-template-columns: 120px 0.5fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-areas:
      "preview-img . .                preview-meta"
      "preview-img . preview-title    preview-meta"
      "preview-img . preview-subtitle preview-actions";
  }
}

.image-top-blog-post-preview-card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 2fr 2fr;
  grid-template-areas:
    ".                preview-meta"
    "preview-img      preview-img"
    "preview-title    preview-title"
    ".                preview-actions";
}

.blog-post-preview-meta-container {
  grid-area: preview-meta;
  padding: 10px 10px 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  @media (min-width: 992px) {
    padding: 10px 20px 10px 0px;
  }
}

.blog-post-preview-phase-indicator-container {
  width: 100%;
  display: flex;
  padding: 5px 0 0 0;
  justify-content: flex-end;
  @media (min-width: 992px) {
    padding: 10px 0 0 0;
  }
}

.blog-post-preview-phase-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $subtle-two;
}

.blog-post-preview-date {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: #40514e;
  @media (min-width: 992px) {
    font-size: 14px;
  }
}

.blog-post-preview-card-title {
  grid-area: preview-title;
  padding: 5px 5px 5px 5px;
  @media (min-width: 992px) {
    padding: 10px 20px 10px 0;
  }
}

.blog-post-preview-card-subtitle {
  grid-area: preview-subtitle;
  padding: 5px 5px 5px 5px;
  @media (min-width: 992px) {
    padding: 10px 20px 10px 0;
  }
}

.blog-post-preview-image-container {
  grid-area: preview-img;
  height: 100%;
  overflow: hidden;
}

.blog-post-preview-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-post-preview-img {
  height: 100%;
}

.blog-post-preview-body {
  grid-area: preview-body;
  padding: 10px;
}

.blog-post-preview-actions {
  grid-area: preview-actions;
  padding: 10px 10px 10px 0;
  display: flex;
  justify-content: flex-end;
  @media (min-width: 992px) {
    padding: 10px 20px 10px 0;
  }
}

.blog-post-preview-read-btn {
  width: 70px;
  height: 30px;
}

h2 {
  margin: 0;
}
