<!-- <div class="blog-post-preview-card image-left-blog-post-preview-card" [ngStyle]="{'background-color': hslBgColorString}"> -->
<div class="blog-post-preview-card" [ngClass]="previewOrintationClass">
  <div class="blog-post-preview-image-container">
    <img
      [src]="metaData.previewImageUrl"
      alt="procedurally generated preview artwork for blog post"
      class="blog-post-preview-img">
  </div>
  <div class="blog-post-preview-meta-container">
    <p
      *ngIf="metaData.dateOriginal"
      class="blog-post-preview-date">
      {{ metaData.dateOriginal }}
    </p>
    <div class="blog-post-preview-phase-indicator-container">
      <div class="blog-post-preview-phase-indicator"></div>
    </div>
  </div>
  <div class="blog-post-preview-card-title">
    <h4 *ngIf="metaData.title">{{ metaData.title }} </h4>
  </div>
  <div class="blog-post-preview-actions">
    <button
      (click)="handleBlogPostPreviewReadBtn(metaData.id)"
      type="button"
      class="btn-primary-flat blog-post-preview-read-btn">
        read
    </button>
  </div>
</div>

