<!-- <div class="blog-post-preview-card image-left-blog-post-preview-card" [ngStyle]="{'background-color': hslBgColorString}"> -->
<div class="preview-card" [ngClass]="previewOrintationClass">
  <div class="preview-card-image-container">
    <img
      [src]="metaData.previewImageUrl"
      alt="procedurally generated preview artwork for blog post"
      class="preview-card-img">
  </div>
  <div class="preview-card-meta-container">
    <div class="preview-card-date">
      <div
        *ngIf="metaData.dateOriginal"
        class="preview-card-original-date">
        <p class="preview-card-date-label">date:</p>
        <p>{{ metaData.dateOriginal }}</p>
      </div>
      <div
        *ngIf="metaData.dateLastEdited"
        class="preview-card-updated-date">
        <p class="preview-card-date-label">updated:</p>
        <p>{{ metaData.dateLastEdited }}</p>
      </div>
    </div>

    <div class="preview-card-phase-indicator-container">
      <div class="preview-card-phase-indicator"></div>
    </div>
  </div>
  <div class="preview-card-title">
    <h4 *ngIf="metaData.title">{{ metaData.title }} </h4>
  </div>
  <div class="preview-card-actions">
    <button
      (click)="handleBlogPostPreviewReadBtn(metaData.id)"
      type="button"
      class="btn-primary-flat preview-card-read-btn">
        read
    </button>
  </div>
</div>

