// @import 'src/colors.scss';

.blog-post-preview-card {
  border: 1px solid rgb(163, 163, 163);
  border-radius: 10px;
  overflow: hidden;
}

.image-left-blog-post-preview-card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 80px 2fr 3fr;
  grid-template-rows: 1fr 2fr 1fr 3fr 1fr;
  grid-template-areas:
    "preview-img . preview-header"
    "preview-img . preview-title"
    "preview-img . preview-subtitle"
    "preview-img . preview-body"
    "preview-img . preview-footer";
  // column-gap: 20px;
}

.blog-post-preview-header {
  grid-area: preview-header;
  padding: 10px 10px 10px 0px;
  display: flex;
  justify-content: space-between;
}

.blog-post-preview-phase-indicator-container {
  width: 40%;
}

.blog-post-preview-phase-indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: blue;
}

.blog-post-preview-date {
  width: 60%;
}

.blog-post-preview-card-title {
  grid-area: preview-title;
  padding: 10px 10px 10px 0;
}

.blog-post-preview-card-subtitle {
  grid-area: preview-subtitle;
  padding: 10px;
}

.blog-post-preview-image-container {
  grid-area: preview-img;
  height: 100%;
  overflow: hidden;
}

.blog-post-preview-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-post-preview-img {
  height: 100%;
}

.blog-post-preview-body {
  grid-area: preview-body;
  padding: 10px;
}

.blog-post-preview-actions {
  grid-area: preview-footer;
  padding: 10px;
}
