@if (isExpandable) {
  <ul class="blog-post-tag-container">
    @for (tagItem of summaryTagArr; track tagItem.name) {
    <li
      class="tag-item"
      [ngClass]="{
        'tag-selected': tagItem.isActive,
        'tag-disabled': tagItem.count < 1
      }"
      (click)="selectTag(tagItem)"
    >
      <span>{{ tagItem.name }}</span>
      @if (tagsDisplayMatchCount) {
      <span> | {{ tagItem.count }}</span>
      }
    </li>
    }
  </ul>

  <details>
    <summary>show more</summary>

    <ul class="blog-post-tag-container">
      @for (tagItem of detailTagArr; track tagItem.name) {
      <li
        class="tag-item"
        [ngClass]="{
          'tag-selected': tagItem.isActive,
          'tag-disabled': tagItem.count < 1
        }"
        (click)="selectTag(tagItem)"
      >
        <span>{{ tagItem.name }}</span>
        @if (tagsDisplayMatchCount) {
        <span> | {{ tagItem.count }}</span>
        }
      </li>
      }
    </ul>
  </details>
} @else {
  <ul class="blog-post-tag-container">
    @for (tagItem of tagArr; track tagItem.name) {
    <li
      class="tag-item"
      [ngClass]="{
        'tag-selected': tagItem.isActive,
        'tag-disabled': tagItem.count < 1
      }"
      (click)="selectTag(tagItem)"
    >
      <span>{{ tagItem.name }}</span>
      @if (tagsDisplayMatchCount) {
      <span> | {{ tagItem.count }}</span>
      }
    </li>
    }
  </ul>
}