@import '~@angular/material/theming';
@include mat-core();

/* $iogarden-primary: mat-palette($mat-blue-grey);
$iogarden-accent:  mat-palette($mat-pink, 500, 900, A100); */

$iogarden-primary: mat-palette($mat-deep-purple, 400, 200, 600);
$iogarden-accent: mat-palette($mat-teal, 300, 200, 700);
$iogarden-warn: mat-palette($mat-red);

$iogarden-theme: mat-light-theme($iogarden-primary, $iogarden-accent, $iogarden-warn);

@include angular-material-theme($iogarden-theme);
