/* You can add global styles to this file, and also import other style files */

@import './assets/stylesheets/colors.scss';
@import './assets/stylesheets/typography.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }

// Buttons

.btn-primary-flat,
.btn-primary-shadow,
.btn-primary-outline,
.btn-accent-flat,
.btn-accent-shadow,
.btn-accent-outline {
  min-width: 60px;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary-flat {
  // color: #ffffff;
  // background-color: rgb(31, 124, 104);
  color: #222222;
  background-color: $brand;
  border: none;
}

.btn-primary-shadow {
  // color: #ffffff;
  // background-color: rgb(31, 124, 104);
  color: #222222;
  background-color: $brand;
  border: none;
  box-shadow: 0 0 2em #adadad;
}

.btn-primary-outline {
  background-color: transparent;
  // color: rgb(31, 124, 104);
  // border: 1px solid rgb(31, 124, 104);
  border: 1px solid $brand;
  color: $brand;
}

.btn-accent-flat {
  color: #ffffff;
  background-color: $accent;
  border: none;
}

.btn-accent-shadow {
  color: #ffffff;
  background-color: $accent;
  border: none;
  box-shadow: 0 0 2em #adadad;
}

.btn-accent-outline {
  background-color: transparent;
  color: $accent;
  border: 1px solid $accent;
}
