<div class="search-component-background" (click)="closeSearch()">
  <div
    class="search-component-container"
    (click)="preventUnwantedCloseEvent($event)"
  >
    <div
      class="search-component-result-sources-container"
      click="hideKeyboard()"
    >
      <div class="result-sources-wrapper scrollbar">

        @for(result of reducedSearchResults; track result) {
          <div class="search-component-result-item">
            <h4>
              <span>{{ result.highlightedSearchTerm.pre }}</span>
              <span class="search-component-highlight">{{
                result.highlightedSearchTerm.match
              }}</span>
              <span>{{ result.highlightedSearchTerm.post }}</span>
            </h4>

            @for(resultEntry of result.searchResults; track resultEntry) {
              <div
                (click)="handleSearchResultClick(resultEntry)"
                class="result-source-listing"
              >
                <span>{{ resultEntry.filePathForDisplay }}</span>
                <span class="matches-badge">{{ resultEntry.count }}</span>
              </div>
            }

          </div>
        }

      </div>
    </div>

    <div class="search-component-input-container">
      <input
        type="text"
        class="search-component-input"
        placeholder="Search"
        [(ngModel)]="searchInputValue"
        (ngModelChange)="handleInputChanges($event)"
        tabindex="0"
        #searchInput
      />
      <button
        class="search-component-close-btn btn-light-gray-outline"
        (click)="closeSearch()"
        tabindex="1"
      >
        x
      </button>
    </div>

    <div class="search-component-result-preview-container">
      <a href="" [routerLink]="currPreviewRoute" class="search-preview-link">
        <div class="preview-inner-wrapper scrollbar">
          @if (currPreviewMetaData) {
            <h2>{{ currPreviewMetaData.title }}</h2>
          }
          <markdown [src]="currPreviewPath" class="search-preview-markdown">
          </markdown>
        </div>
      </a>
    </div>
  </div>
</div>
