// Buttons

.btn-primary-flat,
.btn-primary-outline,
.btn-accent-flat,
.btn-accent-outline,
.btn-dark-flat,
.btn-dark-outline,
.btn-light-gray-flat,
.btn-light-gray-outline,
.btn-close-flat {
  min-width: 60px;
  height: 35px;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary-flat {
  color: #40514e;
  background-color: $brand;
  border: none;
}

.btn-primary-outline {
  background-color: transparent;
  border: 1px solid $brand;
  color: $brand;
}

.btn-accent-flat {
  color: $white;
  background-color: $accent;
  border: none;
  &:hover {
    background-color: $accent-hover;
  }
}

.btn-accent-outline {
  background-color: transparent;
  color: $accent;
  border: 1px solid $accent;
}

.btn-dark-flat {
  color: $white;
  background-color: $mid-gray;
  border: none;
  &:hover {
    background-color: $mid-gray-hover;
  }
}

.btn-dark-outline {
  background-color: transparent;
  border: 1px solid $mid-gray;
  color: $mid-gray;
  &:hover {
    background-color: $mid-gray-hover;
  }
}

.btn-light-gray-flat {
  color: $white;
  background-color: $light-gray;
  border: none;
  &:hover {
    background-color: $light-gray-hover;
  }
}

.btn-light-gray-outline {
  background-color: transparent;
  border: 1px solid $light-gray;
  color: $light-gray;
  &:hover {
    background-color: $light-gray-hover;
  }
}

.btn-close-flat {
  color: $white;
  background-color: $light-gray;
  border: none;
  &:hover {
    background-color: $light-gray-hover;
    color: $danger;
    .material-icons {
      background-color: $light-gray-hover;
      color: $danger;
    }
  }
}

/* .btn-accent-flat-icon-round {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: $accent;
  .material-icons {
    color: $white;
    background-color: $accent;
  }
  :hover, :active {
    background-color: $accent;
    color: $brand;
  }
} */

