.preview-card {
  border-radius: 10px;
  overflow: hidden;
  background-color: $white;
}

.image-left-preview-card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60px 0.5fr 4fr 3fr;
  grid-template-rows: 1fr 4fr 2fr;
  grid-template-areas:
    "preview-img . preview-title    preview-meta"
    "preview-img . preview-title    preview-meta"
    "preview-img . .                preview-actions";
  @media (min-width: 992px) {
    grid-template-columns: 120px 0.5fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-areas:
      "preview-img . .                preview-meta"
      "preview-img . preview-title    preview-meta"
      "preview-img . .                preview-actions";
  }
}

.image-top-preview-card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 3fr 1fr;
  grid-template-areas:
    "preview-meta     preview-meta"
    "preview-img      preview-img"
    "preview-title    preview-title"
    ".                preview-actions";
}

.preview-card-meta-container {
  grid-area: preview-meta;
  display: flex;
}

.image-left-preview-card .preview-card-meta-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px 20px 5px 0px;
  @media (min-width: 992px) {
    padding: 10px 20px 10px 0px;
  }
}

.image-top-preview-card .preview-card-meta-container {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px 10px 20px;
}

.preview-card-phase-indicator-container {
  display: flex;
  justify-content: flex-end;
}

.image-left-preview-card .preview-card-phase-indicator-container {
  width: 100%;
  padding: 5px 0 0 0;
  @media (min-width: 992px) {
    padding: 10px 0 0 0;
  }
}

.image-top-preview-card .preview-card-phase-indicator-container {
  width: 35%;
  padding: 0 0 0 5px;
  @media (min-width: 992px) {
    padding: 0 0 0 10px;
  }
}

.preview-card-phase-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $subtle-two;
}


.preview-card-date {
  width: 100%;
  display: flex;
  p {
    line-height: 1.2;
    color: #40514e;
    @media (min-width: 992px) {
    }
  }
}

.image-left-preview-card .preview-card-date {
  flex-direction: column;
  align-items: flex-end;
  p {
    font-size: 13px;
    @media (min-width: 992px) {
      font-size: 14px;
    }
  }
  .preview-card-original-date,
  .preview-card-updated-date {
    margin-bottom: 10px;
  }
}

.image-top-preview-card .preview-card-date {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  p {
    font-size: 10px;
    padding: 0 0 0 20px;
    @media (min-width: 992px) {
      font-size: 12px;
    }
  }
  .preview-card-original-date,
  .preview-card-updated-date {
    margin: 0;
  }
}

.preview-card-date-label {
  text-transform: uppercase;
}

.image-left-preview-card .preview-card-title {
  grid-area: preview-title;
  padding: 5px 5px 5px 5px;
  @media (min-width: 992px) {
    padding: 10px 20px 10px 0;
  }
}

.image-top-preview-card .preview-card-title {
  grid-area: preview-title;
  padding: 10px 20px;
  @media (min-width: 992px) {
    padding: 20px;
  }
  h4 {
    margin: 0;
  }
}

/* .preview-card-subtitle {
  grid-area: preview-subtitle;
  padding: 5px 5px 5px 5px;
  @media (min-width: 992px) {
    padding: 10px 20px 10px 0;
  }
} */

/* .image-left-preview-card .preview-card-image-container {
  grid-area: preview-img;
  height: 100%;
  overflow: hidden;
  & .blog-post-preview-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
} */

.preview-card-image-container {
  grid-area: preview-img;
  height: 100%;
  overflow: hidden;
  & .preview-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.preview-card-body {
  grid-area: preview-body;
  padding: 10px;
}

.preview-card-actions {
  grid-area: preview-actions;
  padding: 10px 10px 10px 0;
  display: flex;
  justify-content: flex-end;
  @media (min-width: 992px) {
    padding: 10px 20px 10px 0;
  }
}

.preview-card-read-btn {
  width: 70px;
  height: 30px;
}

/* h2 {
  margin: 0;
} */
