/* SCSS RGB */
/* $mountain-meadow: rgba(0, 182, 133, 1);
$byzantium: rgba(131, 33, 97, 1);
$prussian-blue: rgba(0, 48, 73, 1);
$maximum-red: rgba(214, 40, 40, 1);
$orange: rgba(247, 127, 0, 1); */


$brand: rgba(186, 255, 41, 1);
// $accent: rgba(71, 13, 143, 1);
$accent: rgb(17, 153, 158);
$subtle-one: rgba(70, 129, 137, 1);
$subtle-two: rgba(119, 172, 162, 1);
$subtle-three: rgba(157, 190, 187, 1);

// $danger: rgba(214, 40, 40, 1);
$danger: rgba(232, 72, 85, 1);
$attention: rgba(219, 196, 61, 1);
$success: rgba(4, 167, 119, 1);
$info: rgba(25, 130, 196, 1)
