app-mae-a001 {
    svg {
        background-color: $light-gray;
    }
    .single-chart-column {
        fill: $subtle-two;
        &:hover {
            fill: $brand;
        }
    }
    .column-axis-labels {
        font-size: 0.5rem;
        font-family: 'Inter', sans-serif;
        fill: $accent;
    }
}
