// Tags

// General styles for tags 
// (further below are seperate rule changes for blog posts and io-garden experiments since there they have to be visible
// on white background)

.tag-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 20px 0;
  row-gap: 5px;
  column-gap: 10px;
}

ul .tag-item,
ul .tag-item span  {
  color: $white;
  padding: 2px 5px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.2;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}


ul .tag-item:hover span,
ul .tag-item:active span {
  color: $brand;
}

.tag-item:hover,
.tag-item:active,
ul .tag-item:hover,
ul .tag-item:active {
  color: $brand;
  outline: 1px solid $brand;
  border-radius: 5px;
}

.tag-selected,
ul .tag-selected {
  outline: 1px solid $brand;
  color: $brand;
  border-radius: 5px;
  span {
    color: $brand;
  }
  &:hover,
  &:hover {
    color: $dark-gray;
    outline: 1px solid $dark-gray;
    span {
      color: $dark-gray;
    }
  }
}

.tag-item.tag-disabled,
ul .tag-disabled {
  color: rgb(215, 215, 215);
  cursor: cursor;
  pointer-events: none;
  span {
    color: rgb(215, 215, 215);
  }
  &:hover {
    color: $light-gray;
    outline: 1px dotted $light-gray;
    span {
      color: $light-gray;
    }
  }
}

// Blog post and io-garden style changes for tags

ul.tag-list-white-bg {
    .tag-item,
    .tag-item span  {
      color: $dark-gray;
      background-color: $light-gray;
      border-radius: 5px;
      padding: 2px 5px;
    }
    
    .tag-item:hover span,
    .tag-item:active span {
      color: $accent;
      background-color: transparent;
    }
    
    .tag-item:hover,
    .tag-item:active {
      color: $accent-light;
      background-color: rgb(179, 179, 179);
      outline: 1px solid $accent-light;
    }
    
    .tag-selected {
      outline: 1px solid $accent-light;
      color: $accent-light;
      span {
        color: $accent-light;
      }
      &:hover,
      &:hover {
        color: $dark-gray;
        outline: 1px solid $dark-gray;
        span {
          color: $dark-gray;
        }
      }
    }
    
    .tag-item.tag-disabled,
    .tag-disabled {
      color: rgb(215, 215, 215);
      span {
        color: rgb(215, 215, 215);
      }
      &:hover {
        color: $light-gray;
        outline: 1px dotted $light-gray;
        span {
          color: $light-gray;
        }
      }
    }
  
}